header {
  position: fixed;
  width: 100vw;
  height: 80px;
  top: 0;
  background: #4f6995;
  z-index: 30;
  box-shadow: 0 0 10px #0002;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header a {
  text-decoration: none;
  color: #c4dce9;
  font-size: 1.1rem;
}

.header a:hover {
  color: white;
  border-bottom: 1px solid #c4dce9;
}

.header h1 {
  font-family: "Aladin", cursive;
  color: white;
  font-size: 2.5rem;
  margin: 1rem;
}

.header .mobileMenu {
  display: none;
}

button {
  cursor: pointer;
}

h2 {
  text-align: center;
  font-size: 2.4rem;
  font-family: "Aladin", cursive;
  padding-top: 120px;
  margin-top: -100px;
  margin-bottom: 2rem;
}

p {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

p a {
  color: #3b3966;
  font-weight: bold;
}

p span {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background: #292937;
  color: white;
  padding: 2px 4px;
  border-radius: 5px;
  font-size: 0.9rem;
}

pre {
  margin: 8px auto;
  color: white;
  height: 20px;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.react-datepicker-wrapper input[type="text"] {
  width: 80px !important;
  text-align: center;
  border-radius: 10px 0 0 10px !important;
}

.comment {
  color: #999;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.code,
.options {
  background: #292937;
  margin: 2rem auto;
  width: 90%;
  max-width: 620px;
  padding: 10px;
  color: white;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 1rem;
  overflow: hidden;
  box-shadow: 0 0 10px #0002;
}

.options > div {
  margin: 10px 0;
}

.options label {
  margin-right: 10px;
}

.options input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.options input[type="number"],
.options input[type="text"],
.timeDisplay {
  border: none;
  height: 24px;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 0.8rem;
  background: #131324;
  color: white;
  font-weight: bold;
}

.timeDisplay {
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  font-size: 0.9rem;
}

.options input[type="number"] {
  width: 60px;
}

.options input[type="text"] {
  width: 200px;
}

.colorPickerBtn {
  height: 24px;
  border: none;
  border-radius: 10px;
  font-size: 0.8rem;
  background: #131324;
  color: white;
  font-weight: bold;
  transition: background 200ms ease;
}

.colorPickerBtn:hover {
  background: #07071f;
}

.colorPickerBtn:disabled {
  opacity: 0.4;
  pointer-events: none;
}

.pickerContainer {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.addEvent {
  display: flex;
  justify-content: center;
}

.addEvent button {
  height: 35px;
  padding: 0 20px;
}

.container {
  max-width: 1000px;
  margin: 80px auto 0;
  color: #3b3966;
  padding: 10px;
}

.demo {
  padding-right: 20px;
  padding-left: 5px;
}

footer {
  background: #4f6995;
  padding: 1rem;
}

footer p {
  font-size: 0.9rem;
  color: white;
  line-height: 1rem;
  margin: 0;
}

.addEventModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  z-index: 30;
}

.addEventModal .options,
.addEventModal h2 {
  z-index: 10;
}

.addEventModal > div:last-of-type {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000d;
}

footer p a {
  color: white;
}

.bmc {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.bmc a {
  background: #324a73;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  border-radius: 16px;
  transition: background 200ms ease;
}

.bmc a:hover {
  background: #283a59;
}

.codePink {
  color: #f777c9;
}
.codeYellow {
  color: #eafc68;
}
.codeBlue {
  color: #99e5fc;
}
.codeGreen {
  color: #67fd6e;
}
.codePurple {
  color: #b788f4;
}
.codeOrange {
  color: #edb562;
}
.tab {
  margin-left: 30px;
}
.tab2 {
  margin-left: 60px;
}

@media screen and (max-width: 720px) {
  .header ul {
    display: none;
  }
  .header .mobileMenu {
    display: block;
  }
}
