@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
  margin: 0;
  font-family: 'Arvo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #c4d9e4;
}
